# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
settings.json

# testing
/coverage
/__pycache__

# production
/build
session_name.session

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
