# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# testing
/coverage
/__pycache__


# production
/build
settings.json
session_name.session

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
